.header {
  display: grid; 
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: blue;
  background-repeat: no-repeat;
  width: auto;
  border-radius: 10px;
}
.header > p {
  color: yellow;
  font-size: 25px;
  font-family: 'Bree Serif';
}
.menu {
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 3px;
  text-align: center;
}
a {
   transition: width 2s, height 2s, transform 2s;
   font-family: 'Hind Siliguri';
}
.menu > a:hover {
  color: blue;
  font-size: 20px;
}
.aboutUs {
  background-color: blue;
}
.aboutUs > p {
  font-family: 'Hind Siliguri';
  color: yellow;
  text-align: start;
  font-size: 20px;
}
.newsOfOlympiads {
  font-family: 'Hind Siliguri';
  color: blue;
  background-color: yellow;
}
.combinedDiv {
  display: grid;
  grid-template-rows: auto auto;
}
.blogs {
  font-family: 'Hind Siliguri';
  background-color: blue;
  color: yellow;
  text-align: center;
  /* align-items: center; */
}
.joinWithUs {
  background-color: yellow;
  color: blue;
  text-align: center;
  font-family: 'Hind Siliguri';
  font-size: 23px;
}
